.form{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.formitems{
    padding-top: 20px;
}

.estnum_search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.estatenumber {
  flex: 1;
}

.search {
  flex: 0;
}






