.updateform{
  display: flex;
  flex-direction: row;
}

.container{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.formitems{
    padding-top: 20px;
    width: 50%;
}

.estnum_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.estnum_search_estate{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.estatenumber {
  display: flex;
  flex-direction: row;
}

.search {
  flex: 0;
}






